In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, func
import sqlite3
import psycopg2

In [2]:
conn = psycopg2.connect("dbname=ipo-database user=postgres password=0nlineSQL")

In [3]:
# Check if we connected to our DB
cur = conn.cursor()
cur.execute('SELECT version()')

db_version = cur.fetchone()
print(db_version)

('PostgreSQL 11.10, compiled by Visual C++ build 1914, 64-bit',)

In [4]:
# Execute the "SELECT *" query for our first table and store the data as a variable
company_overview_df = pd.read_sql_query("SELECT * from company_overview;", conn)
company_overview_df.head()

,symbol,asset_type,company_name,exchange,currency,country,sector,industry,address
0,MRM,Common Stock,MEDIROM Healthcare Technologies Inc,NASDAQ,USD,USA,Consumer Cyclical,Personal Services,"Tradepia Odaiba, Tokyo, Japan, 135-0091"
1,VTAQ,Common Stock,Ventoux CCM Acquisition Corp,NASDAQ,USD,USA,Financial Services,Shell Companies,"1 East Putnam Avenue, Greenwich, CT, United St..."
2,IKT,Common Stock,"Inhibikase Therapeutics, Inc",NASDAQ,USD,USA,Healthcare,Biotechnology,"3350 Riverwood Parkway, Atlanta, GA, United St..."
3,GBS,Common Stock,GBS Inc,NASDAQ,USD,USA,Healthcare,Medical Devices,"708 3rd Avenue, New York, NY, United States, 1..."
4,HCAR,Common Stock,Healthcare Services Acquisition Corporation,NASDAQ,USD,USA,Financial Services,Shell Companies,"7809 Woodmont Avenue, Bethesda, MD, United Sta..."

In [5]:
# Execute the "SELECT *" query for our second table and store the data as a variable
three_month_df = pd.read_sql_query("SELECT * from three_month_return;", conn)
three_month_df.head()

,symbol,ipo_date,company_name,ipo_price,current_price,percentage_return,three_mth_date,three_mth_ipo,price_change,three_mth_return,price_gain_loss
0,SVOK,2020-12-18,Seven Oaks Acquisition,10.0,9.91,-0.009,2021-03-18,10.0450,0.0450,0.00450,Gain
1,GFX,2020-12-18,Golden Falcon Acquisition,10.0,9.83,-0.017,2021-03-18,9.7516,-0.2484,-0.02484,Loss
2,MASS,2020-12-18,908 Devices,20.0,53.80,1.690,2021-03-18,49.3800,29.3800,1.46900,Gain
3,DUNE,2020-12-18,Dune Acquisition,10.0,9.74,-0.026,2021-03-18,9.7600,-0.2400,-0.02400,Loss
4,MTAC,2020-12-18,MedTech Acquisition,10.0,9.94,-0.006,2021-03-18,9.8800,-0.1200,-0.01200,Loss

In [76]:
income_df = pd.read_sql_query("SELECT * from filtered_income_statement;", conn)
income_df

,symbol,fiscaldate_end,reported_currency,gross_profit,total_revenue,costof_revenue,costof_goodservices_sold,operating_income,selling_gen_admin,research_dev,...,depreciation,dpr_and_amort,income_beforetax,incometax_expense,interest_debt_expense,netincome_cont_operations,comprehensive_income_netoftax,ebit,ebitda,netincome
0,ABCM,2020-09-30,GBP,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.000000e+00,1050000.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
1,ABNB,2020-12-31,USD,6.495170e+08,8.592640e+08,2.097470e+08,209747000.0,-3.085794e+09,1.343584e+09,2.062195e+09,...,0.0,0.0,-3.992502e+09,-104651000.0,0.0,-3.887851e+09,0.0,-3.895924e+09,0.0,-3.887851e+09
2,ABST,2020-09-30,USD,2.538015e+07,2.849556e+07,3.115407e+06,3115407.0,4.198883e+06,1.611957e+07,5.061693e+06,...,0.0,0.0,3.895944e+06,1294000.0,0.0,2.601944e+06,0.0,5.390617e+06,0.0,2.601944e+06
3,ACCD,2020-05-31,USD,2.249300e+07,4.444100e+07,2.194800e+07,21948000.0,-1.262500e+07,1.287700e+07,1.137000e+07,...,0.0,0.0,-1.392200e+07,38000.0,0.0,-1.396000e+07,0.0,8.960000e+05,0.0,-1.396000e+07
4,ACI,2020-06-20,USD,6.771500e+09,2.275160e+10,1.598010e+10,0.0,9.718000e+08,5.769400e+09,0.000000e+00,...,0.0,0.0,7.881000e+08,201900000.0,0.0,5.862000e+08,587900000.0,9.718000e+08,0.0,5.862000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,YQ,2020-12-31,CNY,3.132190e+08,4.867870e+08,1.735680e+08,173568000.0,-3.631550e+08,4.842350e+08,1.921390e+08,...,0.0,0.0,-3.650590e+08,0.0,0.0,-3.650590e+08,0.0,-3.649750e+08,0.0,-3.650590e+08
332,YSG,2020-12-31,CNY,1.301010e+09,1.961598e+09,6.605880e+08,660588000.0,-1.533852e+09,2.809252e+09,2.561000e+07,...,0.0,0.0,-1.532857e+09,-1653000.0,0.0,-1.531204e+09,0.0,-1.533852e+09,0.0,-1.530596e+09
333,ZCMD,2020-03-31,USD,2.810746e+06,4.231125e+06,0.000000e+00,0.0,0.000000e+00,1.668508e+06,0.000000e+00,...,0.0,0.0,0.000000e+00,261240.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
334,ZGYH,2019-12-31,USD,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,1.100150e+06,0.0,0.000000e+00
335,ZNTL,2020-03-31,USD,0.000000e+00,0.000000e+00,0.000000e+00,0.0,-1.639900e+07,3.141000e+06,1.325800e+07,...,0.0,0.0,-1.623500e+07,0.0,0.0,-1.623500e+07,0.0,-1.636100e+07,0.0,-1.612600e+07

In [6]:
# # Import our input dataset
# IPO_df = pd.read_csv("raw_dataset/company_overview.csv")
# IPO_df

In [7]:
# return_df = pd.read_csv("raw_dataset/three_month_return.csv")
# return_df

# Preprocess

In [61]:
IPO_df = pd.merge(three_month_df, company_overview_df, left_on = 'symbol', right_on= 'symbol', how='left')

In [62]:
IPO_df

,symbol,ipo_date,company_name_x,ipo_price,current_price,percentage_return,three_mth_date,three_mth_ipo,price_change,three_mth_return,price_gain_loss,asset_type,company_name_y,exchange,currency,country,sector,industry,address
0,SVOK,2020-12-18,Seven Oaks Acquisition,10.0,9.91,-0.0090,2021-03-18,10.0450,0.0450,0.004500,Gain,Common Stock,Seven Oaks Acquisition Corp,NASDAQ,USD,USA,Financial Services,Shell Companies,"445 Park Avenue, New York, NY, United States, ..."
1,GFX,2020-12-18,Golden Falcon Acquisition,10.0,9.83,-0.0170,2021-03-18,9.7516,-0.2484,-0.024840,Loss,Common Stock,Golden Falcon Acquisition Corp,NYSE,USD,USA,Financial Services,Shell Companies,"850 Library Avenue, Newark, DE, United States,..."
2,MASS,2020-12-18,908 Devices,20.0,53.80,1.6900,2021-03-18,49.3800,29.3800,1.469000,Gain,Common Stock,908 Devices Inc,NASDAQ,USD,USA,Healthcare,Medical Devices,"645 Summer Street, Boston, MA, United States, ..."
3,DUNE,2020-12-18,Dune Acquisition,10.0,9.74,-0.0260,2021-03-18,9.7600,-0.2400,-0.024000,Loss,Common Stock,Dune Acquisition Corporation,NASDAQ,USD,USA,Financial Services,Shell Companies,"700 South Rosemary Avenue, West Palm Beach, FL..."
4,MTAC,2020-12-18,MedTech Acquisition,10.0,9.94,-0.0060,2021-03-18,9.8800,-0.1200,-0.012000,Loss,Common Stock,MedTech Acquisition Corporation,NASDAQ,USD,USA,Financial Services,Shell Companies,"600 Fifth Avenue, New York, NY, United States,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,RBKB,2019-01-17,Rhinebeck Bancorp,10.0,10.49,0.0490,2019-04-17,11.6600,1.6600,0.166000,Gain,Common Stock,"Rhinebeck Bancorp, Inc",NASDAQ,USD,USA,Financial Services,Banks-Regional,"2 Jefferson Plaza, Poughkeepsie, NY, United St..."
479,BCOW,2019-01-09,1895 Bancorp of Wisconsin,10.0,14.94,0.4940,2019-04-09,9.6700,-0.3300,-0.033000,Loss,Common Stock,"1895 Bancorp of Wisconsin, Inc",NASDAQ,USD,USA,Financial Services,Banks-Regional,"7001 West Edgerton Avenue, Greenfield, WI, Uni..."
480,MDJH,2019-01-08,MDJM Ltd.,5.0,4.25,-0.1500,2019-04-08,3.4730,-1.5270,-0.305400,Loss,Common Stock,MDJM Ltd,NASDAQ,USD,USA,Real Estate,Real Estate Services,"Saidun Center, Tianjin, China"
481,MTC,2019-01-08,"MMTec, Inc.",4.0,2.83,-0.2925,2019-04-08,4.3301,0.3301,0.082525,Gain,Common Stock,"Mmtec, Inc",NASDAQ,USD,USA,Technology,Software-Application,"Air China Century Building, Beijing, China, 10..."
482,SXTC,2019-01-04,China SXT Pharmaceuticals,4.0,2.03,-0.4925,2019-04-04,6.4200,2.4200,0.605000,Gain,Common Stock,"China SXT Pharmaceuticals, Inc",NASDAQ,USD,USA,Healthcare,Drug Manufacturers-Specialty & Generic,"No.178 North Taidong Road, Taizhou, China, 225300"

In [63]:
IPO_df = IPO_df.drop(["symbol","company_name_x", "company_name_y","address","asset_type", "currency", "country","ipo_price", "current_price", "percentage_return", "three_mth_ipo", "price_change","three_mth_return",],1)

In [64]:
IPO_df.nunique()

ipo_date           184
three_mth_date     183
price_gain_loss      2
exchange             6
sector              13
industry            68
dtype: int64

In [65]:
# Temporarily remove dates to test - need to convert datetime still
IPO_df = IPO_df.drop(["ipo_date","three_mth_date"],1)
IPO_df.head()

  price_gain_loss exchange              sector         industry
0            Gain   NASDAQ  Financial Services  Shell Companies
1            Loss     NYSE  Financial Services  Shell Companies
2            Gain   NASDAQ          Healthcare  Medical Devices
3            Loss   NASDAQ  Financial Services  Shell Companies
4            Loss   NASDAQ  Financial Services  Shell Companies

In [66]:
IPO_df.head()

  price_gain_loss exchange              sector         industry
0            Gain   NASDAQ  Financial Services  Shell Companies
1            Loss     NYSE  Financial Services  Shell Companies
2            Gain   NASDAQ          Healthcare  Medical Devices
3            Loss   NASDAQ  Financial Services  Shell Companies
4            Loss   NASDAQ  Financial Services  Shell Companies

In [35]:
# IPO_df = IPO_df[IPO_df["sector"]=="Healthcare"]
# IPO_df

,ipo_price,current_price,percentage_return,three_mth_ipo,price_change,three_mth_return,price_gain_loss,exchange,sector,industry
2,20.00,53.80,1.6900,49.38,29.38,1.469000,Gain,NASDAQ,Healthcare,Medical Devices
9,10.00,6.16,-0.3840,6.16,-3.84,-0.384000,Loss,NASDAQ,Healthcare,Biotechnology
13,5.50,9.89,0.7982,9.88,4.38,0.796364,Gain,NASDAQ,Healthcare,Biotechnology
14,18.00,66.96,2.7200,66.53,48.53,2.696111,Gain,NASDAQ,Healthcare,Biotechnology
21,20.00,36.29,0.8145,36.00,16.00,0.800000,Gain,NASDAQ,Healthcare,Biotechnology
...,...,...,...,...,...,...,...,...,...,...
469,5.13,2.06,-0.5980,3.98,-1.15,-0.224172,Loss,NASDAQ,Healthcare,Medical Care Facilities
470,14.00,19.07,0.3621,10.41,-3.59,-0.256429,Loss,NASDAQ,Healthcare,Biotechnology
472,16.00,9.38,-0.4138,18.17,2.17,0.135625,Gain,NASDAQ,Healthcare,Biotechnology
474,19.00,21.02,0.1063,18.74,-0.26,-0.013684,Loss,NASDAQ,Healthcare,Biotechnology
482,4.00,2.03,-0.4925,6.42,2.42,0.605000,Gain,NASDAQ,Healthcare,Drug Manufacturers-Specialty & Generic

# Encoding

In [67]:
# Binary encode
IPO_df_encoded = pd.get_dummies(IPO_df, columns=["exchange","sector","industry","price_gain_loss"])
IPO_df_encoded.head()

,exchange_CSE,exchange_NASDAQ,exchange_NYSE,exchange_NYSE MKT,exchange_OTCMKTS,exchange_PINK,sector_Basic Materials,sector_Communication Services,sector_Consumer Cyclical,sector_Consumer Defensive,...,industry_Specialty Industrial Machinery,industry_Specialty Retail,industry_Staffing & Employment Services,industry_Telecom Services,industry_Thermal Coal,industry_Trucking,industry_Utilities-Regulated Gas,industry_Waste Management,price_gain_loss_Gain,price_gain_loss_Loss
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Target Feature

In [68]:
y = IPO_df_encoded.price_gain_loss_Gain
X = IPO_df_encoded.drop(columns=["price_gain_loss_Gain","price_gain_loss_Loss"])

In [69]:
y

0      1
1      0
2      1
3      0
4      0
      ..
478    1
479    0
480    0
481    1
482    1
Name: price_gain_loss_Gain, Length: 483, dtype: uint8

In [70]:
X

,exchange_CSE,exchange_NASDAQ,exchange_NYSE,exchange_NYSE MKT,exchange_OTCMKTS,exchange_PINK,sector_Basic Materials,sector_Communication Services,sector_Consumer Cyclical,sector_Consumer Defensive,...,industry_Software-Infrastructure,industry_Solar,industry_Specialty Industrial Machinery,industry_Specialty Retail,industry_Staffing & Employment Services,industry_Telecom Services,industry_Thermal Coal,industry_Trucking,industry_Utilities-Regulated Gas,industry_Waste Management
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
479,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
480,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
481,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
482,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
import numpy as np

X.describe()

,ipo_price,current_price,percentage_return,three_mth_ipo,price_change,exchange_CSE,exchange_NASDAQ,exchange_NYSE,exchange_NYSE MKT,exchange_OTCMKTS,...,industry_Specialty Industrial Machinery,industry_Specialty Retail,industry_Staffing & Employment Services,industry_Telecom Services,industry_Thermal Coal,industry_Trucking,industry_Utilities-Regulated Gas,industry_Waste Management,price_gain_loss_Gain,price_gain_loss_Loss
count,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,...,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000,483.000000
mean,14.290911,25.623644,0.641498,19.761020,5.470109,0.002070,0.631470,0.281573,0.012422,0.002070,...,0.002070,0.006211,0.002070,0.004141,0.002070,0.002070,0.002070,0.004141,0.608696,0.391304
std,9.671077,32.910112,1.393422,24.259549,17.086755,0.045502,0.482906,0.450233,0.110876,0.045502,...,0.045502,0.078647,0.045502,0.064282,0.045502,0.045502,0.045502,0.064282,0.488548,0.488548
min,4.000000,1.130000,-0.885400,0.345200,-18.980000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,10.000000,-0.005000,9.910000,-0.238000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,12.600000,0.098000,11.020000,0.340000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,17.000000,28.550000,0.810600,22.915000,5.155000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,120.000000,326.260000,12.360000,329.970000,209.970000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Split Training and Testing sets

In [71]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Deep Learning

In [72]:
len(X_train_scaled[0])

85

In [73]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  number_input_features*2
hidden_nodes_layer2 = number_input_features

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [74]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=100) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
12/12 [==============================] - 0s 2ms/step - loss: 0.7065 - accuracy: 0.5073
Epoch 2/100
12/12 [==============================] - 0s 2ms/step - loss: 0.6110 - accuracy: 0.6679
Epoch 3/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5858 - accuracy: 0.6906
Epoch 4/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5814 - accuracy: 0.6655
Epoch 5/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5698 - accuracy: 0.6934
Epoch 6/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5338 - accuracy: 0.7315
Epoch 7/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5428 - accuracy: 0.6920
Epoch 8/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5484 - accuracy: 0.7010
Epoch 9/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5577 - accuracy: 0.6971
Epoch 10/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5517 - accuracy: 0.6941
Epoch 11/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5142 - accuracy: 0.7419
Epoch 12/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5581 - accuracy: 0.6843
Epoch 13/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5656 - accuracy: 0.6810
Epoch 14/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5422 - accuracy: 0.7099
Epoch 15/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5273 - accuracy: 0.7049
Epoch 16/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5401 - accuracy: 0.7039
Epoch 17/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5444 - accuracy: 0.6799
Epoch 18/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5562 - accuracy: 0.6674
Epoch 19/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5394 - accuracy: 0.6941
Epoch 20/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5354 - accuracy: 0.6875
Epoch 21/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5334 - accuracy: 0.7148
Epoch 22/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5336 - accuracy: 0.7001
Epoch 23/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5575 - accuracy: 0.6723
Epoch 24/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5414 - accuracy: 0.6877
Epoch 25/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5258 - accuracy: 0.7065
Epoch 26/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5151 - accuracy: 0.7062
Epoch 27/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5293 - accuracy: 0.6997
Epoch 28/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5477 - accuracy: 0.6945
Epoch 29/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5469 - accuracy: 0.6951
Epoch 30/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5321 - accuracy: 0.6929
Epoch 31/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5402 - accuracy: 0.7221
Epoch 32/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5397 - accuracy: 0.7119
Epoch 33/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5632 - accuracy: 0.6625
Epoch 34/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5484 - accuracy: 0.6648
Epoch 35/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5561 - accuracy: 0.6982
Epoch 36/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5080 - accuracy: 0.7371
Epoch 37/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5481 - accuracy: 0.7016
Epoch 38/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4957 - accuracy: 0.7487
Epoch 39/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5048 - accuracy: 0.7272
Epoch 40/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5117 - accuracy: 0.7072
Epoch 41/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5299 - accuracy: 0.7050
Epoch 42/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5344 - accuracy: 0.6990
Epoch 43/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5479 - accuracy: 0.6758
Epoch 44/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5212 - accuracy: 0.7164
Epoch 45/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5220 - accuracy: 0.7130
Epoch 46/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5185 - accuracy: 0.7151
Epoch 47/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5156 - accuracy: 0.7179
Epoch 48/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5319 - accuracy: 0.6884
Epoch 49/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5446 - accuracy: 0.6905
Epoch 50/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5203 - accuracy: 0.7232
Epoch 51/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5031 - accuracy: 0.7294
Epoch 52/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5393 - accuracy: 0.6998
Epoch 53/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5630 - accuracy: 0.6626
Epoch 54/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5308 - accuracy: 0.6894
Epoch 55/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5701 - accuracy: 0.6749
Epoch 56/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5441 - accuracy: 0.6991
Epoch 57/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5506 - accuracy: 0.6584
Epoch 58/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5353 - accuracy: 0.6949
Epoch 59/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5044 - accuracy: 0.7277
Epoch 60/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5334 - accuracy: 0.7001
Epoch 61/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5077 - accuracy: 0.7358
Epoch 62/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5245 - accuracy: 0.7131
Epoch 63/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5134 - accuracy: 0.7091
Epoch 64/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5105 - accuracy: 0.7302
Epoch 65/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5665 - accuracy: 0.6711
Epoch 66/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5151 - accuracy: 0.7213
Epoch 67/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5076 - accuracy: 0.7286
Epoch 68/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5215 - accuracy: 0.7053
Epoch 69/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5381 - accuracy: 0.6712
Epoch 70/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5280 - accuracy: 0.7106
Epoch 71/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5224 - accuracy: 0.7168
Epoch 72/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5355 - accuracy: 0.6934
Epoch 73/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5344 - accuracy: 0.6819
Epoch 74/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5204 - accuracy: 0.7038
Epoch 75/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5457 - accuracy: 0.6918
Epoch 76/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5287 - accuracy: 0.6994
Epoch 77/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5479 - accuracy: 0.6768
Epoch 78/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5325 - accuracy: 0.6836
Epoch 79/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5391 - accuracy: 0.6932
Epoch 80/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5360 - accuracy: 0.7046
Epoch 81/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5202 - accuracy: 0.7103
Epoch 82/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5391 - accuracy: 0.6932
Epoch 83/100

12/12 [==============================] - 0s 2ms/step - loss: 0.5323 - accuracy: 0.6966
Epoch 84/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5265 - accuracy: 0.7055
Epoch 85/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5437 - accuracy: 0.6951
Epoch 86/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5478 - accuracy: 0.6896
Epoch 87/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5150 - accuracy: 0.7227
Epoch 88/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4990 - accuracy: 0.7468
Epoch 89/100
12/12 [==============================] - 0s 997us/step - loss: 0.5316 - accuracy: 0.6942
Epoch 90/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5236 - accuracy: 0.7157
Epoch 91/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5397 - accuracy: 0.7020
Epoch 92/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5391 - accuracy: 0.6899
Epoch 93/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5021 - accuracy: 0.6948
Epoch 94/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5469 - accuracy: 0.6857
Epoch 95/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5111 - accuracy: 0.7446
Epoch 96/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5479 - accuracy: 0.6780
Epoch 97/100
12/12 [==============================] - 0s 3ms/step - loss: 0.5270 - accuracy: 0.6923
Epoch 98/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5270 - accuracy: 0.7105
Epoch 99/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5208 - accuracy: 0.7052
Epoch 100/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5288 - accuracy: 0.6996
4/4 - 0s - loss: 0.9887 - accuracy: 0.5785
Loss: 0.9887444376945496, Accuracy: 0.5785123705863953