In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, func
import sqlite3
import psycopg2

In [2]:
conn = psycopg2.connect("dbname=ipo-database user=postgres password=0nlineSQL")

In [3]:
# Check if we connected to our DB
cur = conn.cursor()
cur.execute('SELECT version()')

db_version = cur.fetchone()
print(db_version)

('PostgreSQL 11.10, compiled by Visual C++ build 1914, 64-bit',)

In [4]:
# Execute the "SELECT *" query for our first table and store the data as a variable
company_overview_df = pd.read_sql_query("SELECT * from company_overview;", conn)
company_overview_df.head()

,symbol,asset_type,company_name,exchange,currency,country,sector,industry,address
0,MRM,Common Stock,MEDIROM Healthcare Technologies Inc,NASDAQ,USD,USA,Consumer Cyclical,Personal Services,"Tradepia Odaiba, Tokyo, Japan, 135-0091"
1,VTAQ,Common Stock,Ventoux CCM Acquisition Corp,NASDAQ,USD,USA,Financial Services,Shell Companies,"1 East Putnam Avenue, Greenwich, CT, United St..."
2,IKT,Common Stock,"Inhibikase Therapeutics, Inc",NASDAQ,USD,USA,Healthcare,Biotechnology,"3350 Riverwood Parkway, Atlanta, GA, United St..."
3,GBS,Common Stock,GBS Inc,NASDAQ,USD,USA,Healthcare,Medical Devices,"708 3rd Avenue, New York, NY, United States, 1..."
4,HCAR,Common Stock,Healthcare Services Acquisition Corporation,NASDAQ,USD,USA,Financial Services,Shell Companies,"7809 Woodmont Avenue, Bethesda, MD, United Sta..."

In [5]:
# Execute the "SELECT *" query for our second table and store the data as a variable
three_month_df = pd.read_sql_query("SELECT * from three_month_return;", conn)
three_month_df.head()

,symbol,ipo_date,company_name,ipo_price,current_price,percentage_return,three_mth_date,three_mth_ipo,price_change,three_mth_return,price_gain_loss
0,SVOK,2020-12-18,Seven Oaks Acquisition,10.0,9.91,-0.009,2021-03-18,10.0450,0.0450,0.00450,Gain
1,GFX,2020-12-18,Golden Falcon Acquisition,10.0,9.83,-0.017,2021-03-18,9.7516,-0.2484,-0.02484,Loss
2,MASS,2020-12-18,908 Devices,20.0,53.80,1.690,2021-03-18,49.3800,29.3800,1.46900,Gain
3,DUNE,2020-12-18,Dune Acquisition,10.0,9.74,-0.026,2021-03-18,9.7600,-0.2400,-0.02400,Loss
4,MTAC,2020-12-18,MedTech Acquisition,10.0,9.94,-0.006,2021-03-18,9.8800,-0.1200,-0.01200,Loss

In [6]:
income_df = pd.read_sql_query("SELECT * from filtered_income_statement;", conn)
income_df

,symbol,fiscaldate_end,reported_currency,gross_profit,total_revenue,costof_revenue,costof_goodservices_sold,operating_income,selling_gen_admin,research_dev,...,depreciation,dpr_and_amort,income_beforetax,incometax_expense,interest_debt_expense,netincome_cont_operations,comprehensive_income_netoftax,ebit,ebitda,netincome
0,ABCM,2020-09-30,GBP,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.000000e+00,1050000.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
1,ABNB,2020-12-31,USD,6.495170e+08,8.592640e+08,2.097470e+08,209747000.0,-3.085794e+09,1.343584e+09,2.062195e+09,...,0.0,0.0,-3.992502e+09,-104651000.0,0.0,-3.887851e+09,0.0,-3.895924e+09,0.0,-3.887851e+09
2,ABST,2020-09-30,USD,2.538015e+07,2.849556e+07,3.115407e+06,3115407.0,4.198883e+06,1.611957e+07,5.061693e+06,...,0.0,0.0,3.895944e+06,1294000.0,0.0,2.601944e+06,0.0,5.390617e+06,0.0,2.601944e+06
3,ACCD,2020-05-31,USD,2.249300e+07,4.444100e+07,2.194800e+07,21948000.0,-1.262500e+07,1.287700e+07,1.137000e+07,...,0.0,0.0,-1.392200e+07,38000.0,0.0,-1.396000e+07,0.0,8.960000e+05,0.0,-1.396000e+07
4,ACI,2020-06-20,USD,6.771500e+09,2.275160e+10,1.598010e+10,0.0,9.718000e+08,5.769400e+09,0.000000e+00,...,0.0,0.0,7.881000e+08,201900000.0,0.0,5.862000e+08,587900000.0,9.718000e+08,0.0,5.862000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,YQ,2020-12-31,CNY,3.132190e+08,4.867870e+08,1.735680e+08,173568000.0,-3.631550e+08,4.842350e+08,1.921390e+08,...,0.0,0.0,-3.650590e+08,0.0,0.0,-3.650590e+08,0.0,-3.649750e+08,0.0,-3.650590e+08
332,YSG,2020-12-31,CNY,1.301010e+09,1.961598e+09,6.605880e+08,660588000.0,-1.533852e+09,2.809252e+09,2.561000e+07,...,0.0,0.0,-1.532857e+09,-1653000.0,0.0,-1.531204e+09,0.0,-1.533852e+09,0.0,-1.530596e+09
333,ZCMD,2020-03-31,USD,2.810746e+06,4.231125e+06,0.000000e+00,0.0,0.000000e+00,1.668508e+06,0.000000e+00,...,0.0,0.0,0.000000e+00,261240.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
334,ZGYH,2019-12-31,USD,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,1.100150e+06,0.0,0.000000e+00
335,ZNTL,2020-03-31,USD,0.000000e+00,0.000000e+00,0.000000e+00,0.0,-1.639900e+07,3.141000e+06,1.325800e+07,...,0.0,0.0,-1.623500e+07,0.0,0.0,-1.623500e+07,0.0,-1.636100e+07,0.0,-1.612600e+07

In [7]:
# Calculate Gross Profit Margin = gross_profit/total_revenue
income_df["gross_profit_margin"] = income_df["gross_profit"]/income_df["total_revenue"]
income_df["gross_profit_margin"]

0           NaN
1      0.755899
2      0.890670
3      0.506132
4      0.297627
         ...
331    0.643442
332    0.663240
333    0.664302
334         NaN
335         NaN
Name: gross_profit_margin, Length: 336, dtype: float64

In [8]:
income_df = income_df.dropna(subset=["gross_profit_margin"])
income_df

,symbol,fiscaldate_end,reported_currency,gross_profit,total_revenue,costof_revenue,costof_goodservices_sold,operating_income,selling_gen_admin,research_dev,...,dpr_and_amort,income_beforetax,incometax_expense,interest_debt_expense,netincome_cont_operations,comprehensive_income_netoftax,ebit,ebitda,netincome,gross_profit_margin
1,ABNB,2020-12-31,USD,6.495170e+08,8.592640e+08,2.097470e+08,2.097470e+08,-3.085794e+09,1.343584e+09,2.062195e+09,...,0.0,-3.992502e+09,-104651000.0,0.0,-3.887851e+09,0.0,-3.895924e+09,0.0,-3.887851e+09,0.755899
2,ABST,2020-09-30,USD,2.538015e+07,2.849556e+07,3.115407e+06,3.115407e+06,4.198883e+06,1.611957e+07,5.061693e+06,...,0.0,3.895944e+06,1294000.0,0.0,2.601944e+06,0.0,5.390617e+06,0.0,2.601944e+06,0.890670
3,ACCD,2020-05-31,USD,2.249300e+07,4.444100e+07,2.194800e+07,2.194800e+07,-1.262500e+07,1.287700e+07,1.137000e+07,...,0.0,-1.392200e+07,38000.0,0.0,-1.396000e+07,0.0,8.960000e+05,0.0,-1.396000e+07,0.506132
4,ACI,2020-06-20,USD,6.771500e+09,2.275160e+10,1.598010e+10,0.000000e+00,9.718000e+08,5.769400e+09,0.000000e+00,...,0.0,7.881000e+08,201900000.0,0.0,5.862000e+08,587900000.0,9.718000e+08,0.0,5.862000e+08,0.297627
7,AFYA,2019-06-30,BRL,9.621000e+07,1.784930e+08,8.228300e+07,8.228300e+07,3.720200e+07,5.958400e+07,0.000000e+00,...,0.0,2.305100e+07,1725000.0,0.0,2.132600e+07,0.0,2.828700e+07,0.0,1.631700e+07,0.539013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,YALA,2020-09-30,USD,8.217837e+06,3.382631e+07,2.560848e+07,2.560848e+07,-3.089731e+07,3.742498e+07,1.698495e+06,...,0.0,-3.087116e+07,109112.0,0.0,-3.098028e+07,0.0,-3.090126e+07,0.0,-3.098028e+07,0.242942
330,YJ,2019-03-31,CNY,6.545180e+08,3.385555e+09,2.731037e+09,2.731037e+09,1.680000e+05,6.543500e+08,5.000000e-02,...,0.0,2.038700e+07,2265000.0,0.0,1.686200e+07,0.0,5.430000e+06,0.0,1.474500e+07,0.193327
331,YQ,2020-12-31,CNY,3.132190e+08,4.867870e+08,1.735680e+08,1.735680e+08,-3.631550e+08,4.842350e+08,1.921390e+08,...,0.0,-3.650590e+08,0.0,0.0,-3.650590e+08,0.0,-3.649750e+08,0.0,-3.650590e+08,0.643442
332,YSG,2020-12-31,CNY,1.301010e+09,1.961598e+09,6.605880e+08,6.605880e+08,-1.533852e+09,2.809252e+09,2.561000e+07,...,0.0,-1.532857e+09,-1653000.0,0.0,-1.531204e+09,0.0,-1.533852e+09,0.0,-1.530596e+09,0.663240
333,ZCMD,2020-03-31,USD,2.810746e+06,4.231125e+06,0.000000e+00,0.000000e+00,0.000000e+00,1.668508e+06,0.000000e+00,...,0.0,0.000000e+00,261240.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.664302

In [9]:
balance_sheet_df = pd.read_sql_query("SELECT * from filtered_balance_sheet;", conn)
balance_sheet_df

,symbol,fiscaldate_end,reported_currency,total_assets,total_current_assets,cash_cashequivalent_carrvalue,cash_shortterm_investments,inventory,currentnet_receivables,total_noncurrent_assets,...,current_longterm_debt,longterm_debt_noncurrent,short_longterm_debt_total,other_current_liabilities,other_noncurrent_liabilities,total_shareholder_equity,treasury_stock,retained_earnings,common_stock,common_stockshares_outstanding
0,AACQ,2020-07-16,USD,1.385431e+06,1.385431e+06,1.385431e+06,1.385431e+06,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0
1,ABCM,2020-09-30,GBP,0.000000e+00,3.075000e+08,0.000000e+00,0.000000e+00,43400000.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,1.500000e+06,0.0,0.000000e+00,0.0,2.723000e+08,500000.0,0.0
2,ABNB,2020-12-31,USD,1.049150e+10,8.916386e+09,5.480557e+09,5.480557e+09,0.0,0.0,1.575113e+09,...,26755000.0,0.0,1.842317e+09,4.019636e+09,203470000.0,2.901783e+09,0.0,-6.005707e+09,60000.0,599197000.0
3,ABST,2020-09-30,USD,1.366821e+08,9.398931e+07,5.129583e+07,5.129583e+07,0.0,0.0,4.269279e+07,...,0.0,0.0,0.000000e+00,8.584784e+07,0.0,-4.048714e+07,0.0,-1.631903e+08,83042897.0,42668703.0
4,ACCD,2020-05-31,USD,1.204820e+08,9.675400e+07,7.768200e+07,7.768200e+07,0.0,0.0,2.372800e+07,...,0.0,0.0,7.252400e+07,3.945100e+07,0.0,-2.664970e+08,0.0,-3.348280e+08,2000.0,46653451.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,ZCMD,2020-03-31,USD,0.000000e+00,2.693504e+07,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,1.897302e+06,0.0,0.000000e+00,0.0,5.141224e+06,2492.0,0.0
447,ZGYH,2019-12-31,USD,2.183410e+05,2.689000e+03,2.689000e+03,2.689000e+03,0.0,0.0,2.156520e+05,...,175339.0,0.0,1.753390e+05,0.000000e+00,0.0,1.978800e+04,0.0,-5.212000e+03,144.0,8944500.0
448,ZI,2020-06-30,USD,1.919300e+09,3.727000e+08,2.591000e+08,2.591000e+08,0.0,93500000.0,1.397000e+09,...,0.0,743700000.0,7.437000e+08,1.887000e+08,5700000.0,3.876000e+08,0.0,-3.440000e+07,3900000.0,389253891.0
449,ZM,2019-04-30,USD,6.321370e+08,6.299930e+08,6.297930e+08,6.297930e+08,0.0,78888000.0,2.144000e+06,...,5693000.0,0.0,0.000000e+00,3.960000e+06,26850000.0,7.197280e+08,0.0,-2.293900e+07,271000.0,136000000.0
450,ZNTL,2020-03-31,USD,8.762900e+07,6.600900e+07,6.365000e+07,6.365000e+07,0.0,139000.0,1.926700e+07,...,0.0,0.0,0.000000e+00,0.000000e+00,1484000.0,-9.590300e+07,0.0,-9.911900e+07,3216000.0,34501524.0

### Calculate Debt Asset Ratio:

The formula for the debt to asset ratio is as follows: Debt/Asset = (Short-term Debt + Long-term Debt) / Total Assets. Where: Total Assets may include all current and non-current assets on the company's balance sheet, or may only include certain assets such as Property, Plant & Equipment (PP&E)

In [10]:
balance_sheet_df["debt_asset_ratio"] = balance_sheet_df["short_longterm_debt_total"]/balance_sheet_df["total_assets"]
balance_sheet_df

,symbol,fiscaldate_end,reported_currency,total_assets,total_current_assets,cash_cashequivalent_carrvalue,cash_shortterm_investments,inventory,currentnet_receivables,total_noncurrent_assets,...,longterm_debt_noncurrent,short_longterm_debt_total,other_current_liabilities,other_noncurrent_liabilities,total_shareholder_equity,treasury_stock,retained_earnings,common_stock,common_stockshares_outstanding,debt_asset_ratio
0,AACQ,2020-07-16,USD,1.385431e+06,1.385431e+06,1.385431e+06,1.385431e+06,0.0,0.0,0.000000e+00,...,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000
1,ABCM,2020-09-30,GBP,0.000000e+00,3.075000e+08,0.000000e+00,0.000000e+00,43400000.0,0.0,0.000000e+00,...,0.0,0.000000e+00,1.500000e+06,0.0,0.000000e+00,0.0,2.723000e+08,500000.0,0.0,NaN
2,ABNB,2020-12-31,USD,1.049150e+10,8.916386e+09,5.480557e+09,5.480557e+09,0.0,0.0,1.575113e+09,...,0.0,1.842317e+09,4.019636e+09,203470000.0,2.901783e+09,0.0,-6.005707e+09,60000.0,599197000.0,0.175601
3,ABST,2020-09-30,USD,1.366821e+08,9.398931e+07,5.129583e+07,5.129583e+07,0.0,0.0,4.269279e+07,...,0.0,0.000000e+00,8.584784e+07,0.0,-4.048714e+07,0.0,-1.631903e+08,83042897.0,42668703.0,0.000000
4,ACCD,2020-05-31,USD,1.204820e+08,9.675400e+07,7.768200e+07,7.768200e+07,0.0,0.0,2.372800e+07,...,0.0,7.252400e+07,3.945100e+07,0.0,-2.664970e+08,0.0,-3.348280e+08,2000.0,46653451.0,0.601949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,ZCMD,2020-03-31,USD,0.000000e+00,2.693504e+07,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,...,0.0,0.000000e+00,1.897302e+06,0.0,0.000000e+00,0.0,5.141224e+06,2492.0,0.0,NaN
447,ZGYH,2019-12-31,USD,2.183410e+05,2.689000e+03,2.689000e+03,2.689000e+03,0.0,0.0,2.156520e+05,...,0.0,1.753390e+05,0.000000e+00,0.0,1.978800e+04,0.0,-5.212000e+03,144.0,8944500.0,0.803051
448,ZI,2020-06-30,USD,1.919300e+09,3.727000e+08,2.591000e+08,2.591000e+08,0.0,93500000.0,1.397000e+09,...,743700000.0,7.437000e+08,1.887000e+08,5700000.0,3.876000e+08,0.0,-3.440000e+07,3900000.0,389253891.0,0.387485
449,ZM,2019-04-30,USD,6.321370e+08,6.299930e+08,6.297930e+08,6.297930e+08,0.0,78888000.0,2.144000e+06,...,0.0,0.000000e+00,3.960000e+06,26850000.0,7.197280e+08,0.0,-2.293900e+07,271000.0,136000000.0,0.000000
450,ZNTL,2020-03-31,USD,8.762900e+07,6.600900e+07,6.365000e+07,6.365000e+07,0.0,139000.0,1.926700e+07,...,0.0,0.000000e+00,0.000000e+00,1484000.0,-9.590300e+07,0.0,-9.911900e+07,3216000.0,34501524.0,0.000000

In [11]:
# dropping 0's
balance_sheet_df = balance_sheet_df[balance_sheet_df.debt_asset_ratio != 0]
balance_sheet_df

,symbol,fiscaldate_end,reported_currency,total_assets,total_current_assets,cash_cashequivalent_carrvalue,cash_shortterm_investments,inventory,currentnet_receivables,total_noncurrent_assets,...,longterm_debt_noncurrent,short_longterm_debt_total,other_current_liabilities,other_noncurrent_liabilities,total_shareholder_equity,treasury_stock,retained_earnings,common_stock,common_stockshares_outstanding,debt_asset_ratio
1,ABCM,2020-09-30,GBP,0.000000e+00,3.075000e+08,0.000000e+00,0.000000e+00,4.340000e+07,0.0,0.000000e+00,...,0.000000e+00,0.000000e+00,1.500000e+06,0.000000e+00,0.000000e+00,0.000000e+00,2.723000e+08,500000.0,0.000000e+00,NaN
2,ABNB,2020-12-31,USD,1.049150e+10,8.916386e+09,5.480557e+09,5.480557e+09,0.000000e+00,0.0,1.575113e+09,...,0.000000e+00,1.842317e+09,4.019636e+09,2.034700e+08,2.901783e+09,0.000000e+00,-6.005707e+09,60000.0,5.991970e+08,0.175601
4,ACCD,2020-05-31,USD,1.204820e+08,9.675400e+07,7.768200e+07,7.768200e+07,0.000000e+00,0.0,2.372800e+07,...,0.000000e+00,7.252400e+07,3.945100e+07,0.000000e+00,-2.664970e+08,0.000000e+00,-3.348280e+08,2000.0,4.665345e+07,0.601949
7,ACI,2020-06-20,USD,2.598780e+10,7.132800e+09,2.022200e+09,2.022200e+09,4.271600e+09,530000000.0,1.885500e+10,...,8.160900e+09,-1.100000e+08,1.255500e+09,1.999200e+09,0.000000e+00,1.705800e+09,1.174600e+09,0.0,0.000000e+00,-0.004233
9,ADCT,2020-03-31,USD,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,XGN,2019-09-30,USD,9.274400e+07,8.575200e+07,7.782800e+07,7.782800e+07,0.000000e+00,6238000.0,6.992000e+06,...,2.567700e+07,2.567700e+07,1.598000e+06,5.100000e+05,5.865000e+07,0.000000e+00,-1.611940e+08,13000.0,1.255949e+07,0.276859
445,YSG,2020-12-31,CNY,8.307738e+09,7.088528e+09,5.727029e+09,5.727029e+09,6.168080e+08,0.0,1.219210e+09,...,0.000000e+00,5.272100e+08,3.672800e+07,0.000000e+00,6.848510e+09,0.000000e+00,-4.220083e+09,173000.0,2.526454e+09,0.063460
446,ZCMD,2020-03-31,USD,0.000000e+00,2.693504e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,...,0.000000e+00,0.000000e+00,1.897302e+06,0.000000e+00,0.000000e+00,0.000000e+00,5.141224e+06,2492.0,0.000000e+00,NaN
447,ZGYH,2019-12-31,USD,2.183410e+05,2.689000e+03,2.689000e+03,2.689000e+03,0.000000e+00,0.0,2.156520e+05,...,0.000000e+00,1.753390e+05,0.000000e+00,0.000000e+00,1.978800e+04,0.000000e+00,-5.212000e+03,144.0,8.944500e+06,0.803051
448,ZI,2020-06-30,USD,1.919300e+09,3.727000e+08,2.591000e+08,2.591000e+08,0.000000e+00,93500000.0,1.397000e+09,...,7.437000e+08,7.437000e+08,1.887000e+08,5.700000e+06,3.876000e+08,0.000000e+00,-3.440000e+07,3900000.0,3.892539e+08,0.387485

In [12]:
cash_flow_df = pd.read_sql_query("SELECT * from filtered_cash_flow;", conn)
cash_flow_df

,symbol,fiscaldate_end,reported_currency,operating_cashflow,payments_foroperating_activities,proceeds_fromoperating_activities,changein_operating_liabilities,changein_operating_assets,dpr_depletion_amort,capital_expenditures,...,div_payout_commonstock,div_payout_preferredstock,proceeds_fromissuance_commonstock,proceeds_fromissuance_longterm_debtcapital_secnet,proceeds_fromissuance_preferredstock,proceeds_fromrepurchase_equity,proceeds_fromsale_treasurystock,changein_cash_cashequivalents,changein_exchangerate,netincome
0,ABCM,2020-09-30,GBP,1.695000e+07,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00
1,ABNB,2020-12-31,USD,-1.391100e+08,0.0,0.0,0.0,0.0,32438000.0,7882000.0,...,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,-3.887851e+09
2,ABST,2020-09-30,USD,1.470726e+07,0.0,0.0,0.0,0.0,1356024.0,945871.0,...,-2580376.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,2.601944e+06
3,ACCD,2020-05-31,USD,-8.317000e+06,0.0,0.0,0.0,0.0,1928000.0,538000.0,...,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,-1.396000e+07
4,ACI,2020-06-20,USD,2.091900e+09,63500000.0,0.0,733100000.0,-63100000.0,0.0,0.0,...,0.0,0.0,0.0,2.000000e+09,0.0,0.0,0.0,1.585600e+09,0.0,5.862000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,YSG,2020-12-31,CNY,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,-1.530596e+09
331,ZCMD,2020-03-31,USD,-1.186251e+06,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00
332,ZGYH,2019-12-31,USD,-8.600000e+01,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,-1.300000e+02
333,ZI,2020-06-30,USD,2.530000e+07,0.0,0.0,0.0,0.0,-24200000.0,0.0,...,0.0,0.0,0.0,0.000000e+00,0.0,-320500000.0,0.0,0.000000e+00,0.0,-1.960000e+07
334,ZNTL,2020-03-31,USD,-1.687100e+07,0.0,0.0,0.0,0.0,38000.0,31000.0,...,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,-1.612600e+07

# Preprocess

In [13]:
IPO_df = pd.merge(three_month_df, company_overview_df, left_on = 'symbol', right_on= 'symbol', how='left')

In [14]:
IPO_df

,symbol,ipo_date,company_name_x,ipo_price,current_price,percentage_return,three_mth_date,three_mth_ipo,price_change,three_mth_return,price_gain_loss,asset_type,company_name_y,exchange,currency,country,sector,industry,address
0,SVOK,2020-12-18,Seven Oaks Acquisition,10.0,9.91,-0.0090,2021-03-18,10.0450,0.0450,0.004500,Gain,Common Stock,Seven Oaks Acquisition Corp,NASDAQ,USD,USA,Financial Services,Shell Companies,"445 Park Avenue, New York, NY, United States, ..."
1,GFX,2020-12-18,Golden Falcon Acquisition,10.0,9.83,-0.0170,2021-03-18,9.7516,-0.2484,-0.024840,Loss,Common Stock,Golden Falcon Acquisition Corp,NYSE,USD,USA,Financial Services,Shell Companies,"850 Library Avenue, Newark, DE, United States,..."
2,MASS,2020-12-18,908 Devices,20.0,53.80,1.6900,2021-03-18,49.3800,29.3800,1.469000,Gain,Common Stock,908 Devices Inc,NASDAQ,USD,USA,Healthcare,Medical Devices,"645 Summer Street, Boston, MA, United States, ..."
3,DUNE,2020-12-18,Dune Acquisition,10.0,9.74,-0.0260,2021-03-18,9.7600,-0.2400,-0.024000,Loss,Common Stock,Dune Acquisition Corporation,NASDAQ,USD,USA,Financial Services,Shell Companies,"700 South Rosemary Avenue, West Palm Beach, FL..."
4,MTAC,2020-12-18,MedTech Acquisition,10.0,9.94,-0.0060,2021-03-18,9.8800,-0.1200,-0.012000,Loss,Common Stock,MedTech Acquisition Corporation,NASDAQ,USD,USA,Financial Services,Shell Companies,"600 Fifth Avenue, New York, NY, United States,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,RBKB,2019-01-17,Rhinebeck Bancorp,10.0,10.49,0.0490,2019-04-17,11.6600,1.6600,0.166000,Gain,Common Stock,"Rhinebeck Bancorp, Inc",NASDAQ,USD,USA,Financial Services,Banks-Regional,"2 Jefferson Plaza, Poughkeepsie, NY, United St..."
479,BCOW,2019-01-09,1895 Bancorp of Wisconsin,10.0,14.94,0.4940,2019-04-09,9.6700,-0.3300,-0.033000,Loss,Common Stock,"1895 Bancorp of Wisconsin, Inc",NASDAQ,USD,USA,Financial Services,Banks-Regional,"7001 West Edgerton Avenue, Greenfield, WI, Uni..."
480,MDJH,2019-01-08,MDJM Ltd.,5.0,4.25,-0.1500,2019-04-08,3.4730,-1.5270,-0.305400,Loss,Common Stock,MDJM Ltd,NASDAQ,USD,USA,Real Estate,Real Estate Services,"Saidun Center, Tianjin, China"
481,MTC,2019-01-08,"MMTec, Inc.",4.0,2.83,-0.2925,2019-04-08,4.3301,0.3301,0.082525,Gain,Common Stock,"Mmtec, Inc",NASDAQ,USD,USA,Technology,Software-Application,"Air China Century Building, Beijing, China, 10..."
482,SXTC,2019-01-04,China SXT Pharmaceuticals,4.0,2.03,-0.4925,2019-04-04,6.4200,2.4200,0.605000,Gain,Common Stock,"China SXT Pharmaceuticals, Inc",NASDAQ,USD,USA,Healthcare,Drug Manufacturers-Specialty & Generic,"No.178 North Taidong Road, Taizhou, China, 225300"

In [15]:
IPO_df = IPO_df.drop(["company_name_x", "company_name_y","address","asset_type", "currency", "country","ipo_price", "current_price", "percentage_return", "three_mth_ipo", "price_change","three_mth_return",],1)

In [16]:
IPO_df.nunique()

symbol             483
ipo_date           184
three_mth_date     183
price_gain_loss      2
exchange             6
sector              13
industry            68
dtype: int64

In [17]:
# Temporarily remove dates to test - need to convert datetime still
IPO_df = IPO_df.drop(["ipo_date","three_mth_date"],1)
IPO_df.head()

  symbol price_gain_loss exchange              sector         industry
0   SVOK            Gain   NASDAQ  Financial Services  Shell Companies
1    GFX            Loss     NYSE  Financial Services  Shell Companies
2   MASS            Gain   NASDAQ          Healthcare  Medical Devices
3   DUNE            Loss   NASDAQ  Financial Services  Shell Companies
4   MTAC            Loss   NASDAQ  Financial Services  Shell Companies

In [18]:
IPO_df.head()

  symbol price_gain_loss exchange              sector         industry
0   SVOK            Gain   NASDAQ  Financial Services  Shell Companies
1    GFX            Loss     NYSE  Financial Services  Shell Companies
2   MASS            Gain   NASDAQ          Healthcare  Medical Devices
3   DUNE            Loss   NASDAQ  Financial Services  Shell Companies
4   MTAC            Loss   NASDAQ  Financial Services  Shell Companies

### Try D/A ratio in model

In [19]:
da_ratio_df = balance_sheet_df[["symbol","debt_asset_ratio"]]
da_ratio_df = da_ratio_df.dropna(subset=["debt_asset_ratio"])
da_ratio_df

    symbol  debt_asset_ratio
2     ABNB          0.175601
4     ACCD          0.601949
7      ACI         -0.004233
10    ADTX          1.344907
11    AFIB          0.535312
..     ...               ...
437   WTRE          0.183723
438    XGN          0.276859
445    YSG          0.063460
447   ZGYH          0.803051
448     ZI          0.387485

[203 rows x 2 columns]

In [20]:
IPO_df = pd.merge(IPO_df, da_ratio_df, left_on = 'symbol', right_on= 'symbol', how='left')
IPO_df

,symbol,price_gain_loss,exchange,sector,industry,debt_asset_ratio
0,SVOK,Gain,NASDAQ,Financial Services,Shell Companies,NaN
1,GFX,Loss,NYSE,Financial Services,Shell Companies,NaN
2,MASS,Gain,NASDAQ,Healthcare,Medical Devices,NaN
3,DUNE,Loss,NASDAQ,Financial Services,Shell Companies,NaN
4,MTAC,Loss,NASDAQ,Financial Services,Shell Companies,NaN
...,...,...,...,...,...,...
478,RBKB,Gain,NASDAQ,Financial Services,Banks-Regional,0.005842
479,BCOW,Loss,NASDAQ,Financial Services,Banks-Regional,NaN
480,MDJH,Loss,NASDAQ,Real Estate,Real Estate Services,NaN
481,MTC,Gain,NASDAQ,Technology,Software-Application,NaN
482,SXTC,Gain,NASDAQ,Healthcare,Drug Manufacturers-Specialty & Generic,NaN

In [30]:
IPO_df = IPO_df.dropna()
IPO_df

,symbol,price_gain_loss,exchange,sector,industry,debt_asset_ratio
10,WISH,Loss,NASDAQ,Consumer Cyclical,Internet Retail,0.015853
34,CERT,Gain,NASDAQ,Healthcare,Biotechnology,0.003903
37,ABNB,Gain,NASDAQ,Communication Services,Internet Content & Information,0.175601
41,DASH,Gain,NYSE,Communication Services,Internet Content & Information,0.097119
81,YSG,Gain,NYSE,Consumer Cyclical,Specialty Retail,0.063460
...,...,...,...,...,...,...
459,SWAV,Gain,NASDAQ,Healthcare,Medical Devices,0.096192
461,KLDO,Gain,NASDAQ,Healthcare,Biotechnology,0.114270
465,AREC,Loss,NASDAQ,Energy,Thermal Coal,10.393262
477,ANDA,Loss,NASDAQ,Financial Services,Shell Companies,0.681474
478,RBKB,Gain,NASDAQ,Financial Services,Banks-Regional,0.005842

In [21]:
# IPO_df = IPO_df[IPO_df["sector"]=="Healthcare"]
# IPO_df

In [37]:
IPO_df = IPO_df.drop(["symbol"],1)
IPO_df

,price_gain_loss,exchange,sector,industry,debt_asset_ratio
10,Loss,NASDAQ,Consumer Cyclical,Internet Retail,0.015853
34,Gain,NASDAQ,Healthcare,Biotechnology,0.003903
37,Gain,NASDAQ,Communication Services,Internet Content & Information,0.175601
41,Gain,NYSE,Communication Services,Internet Content & Information,0.097119
81,Gain,NYSE,Consumer Cyclical,Specialty Retail,0.063460
...,...,...,...,...,...
459,Gain,NASDAQ,Healthcare,Medical Devices,0.096192
461,Gain,NASDAQ,Healthcare,Biotechnology,0.114270
465,Loss,NASDAQ,Energy,Thermal Coal,10.393262
477,Loss,NASDAQ,Financial Services,Shell Companies,0.681474
478,Gain,NASDAQ,Financial Services,Banks-Regional,0.005842

# Encoding

In [39]:
# Binary encode
IPO_df_encoded = pd.get_dummies(IPO_df, columns=["sector","industry","price_gain_loss","exchange"])
IPO_df_encoded.head()

,debt_asset_ratio,sector_Basic Materials,sector_Communication Services,sector_Consumer Cyclical,sector_Consumer Defensive,sector_Energy,sector_Financial Services,sector_Healthcare,sector_Industrials,sector_Other,...,industry_Specialty Retail,industry_Telecom Services,industry_Thermal Coal,industry_Waste Management,price_gain_loss_Gain,price_gain_loss_Loss,exchange_CSE,exchange_NASDAQ,exchange_NYSE,exchange_NYSE MKT
10,0.015853,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
34,0.003903,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
37,0.175601,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
41,0.097119,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
81,0.063460,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0

# Target Feature

In [40]:
y = IPO_df_encoded.price_gain_loss_Gain
X = IPO_df_encoded.drop(columns=["price_gain_loss_Gain","price_gain_loss_Loss"])

In [41]:
y

10     0
34     1
37     1
41     1
81     1
      ..
459    1
461    1
465    0
477    0
478    1
Name: price_gain_loss_Gain, Length: 132, dtype: uint8

In [42]:
X

,debt_asset_ratio,sector_Basic Materials,sector_Communication Services,sector_Consumer Cyclical,sector_Consumer Defensive,sector_Energy,sector_Financial Services,sector_Healthcare,sector_Industrials,sector_Other,...,industry_Solar,industry_Specialty Industrial Machinery,industry_Specialty Retail,industry_Telecom Services,industry_Thermal Coal,industry_Waste Management,exchange_CSE,exchange_NASDAQ,exchange_NYSE,exchange_NYSE MKT
10,0.015853,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
34,0.003903,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
37,0.175601,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
41,0.097119,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
81,0.063460,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,0.096192,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
461,0.114270,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
465,10.393262,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
477,0.681474,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
478,0.005842,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [35]:
import numpy as np

X.describe()

       debt_asset_ratio
count      1.320000e+02
mean       3.041211e+06
std        3.493780e+07
min       -3.584810e-01
25%        4.884962e-02
50%        1.866382e-01
75%        5.516729e-01
max        4.014050e+08

# Split Training and Testing sets

In [43]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Logistic Regression
our basic logistic regression parameters, which include:

- The solver parameter is set to 'lbfgs', which is an algorithm for learning and optimization. The particular solver isn't very important in this example, but note that a number of optimizers exist.

In [51]:
from sklearn.linear_model import LogisticRegression

# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=500)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.606

C:\Users\death\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# Random Forest

In [45]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.515

# SVM

In [46]:
from sklearn.svm import SVC

# Create the SVM model
svm = SVC(kernel='linear')

# Train the model
svm.fit(X_train, y_train)

# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.515

# Deep Learning

In [47]:
len(X_train_scaled[0])

64

In [48]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  number_input_features*2
hidden_nodes_layer2 = number_input_features

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=100) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2909 - accuracy: 0.8586
Epoch 2/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2913 - accuracy: 0.8586
Epoch 3/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2909 - accuracy: 0.8586
Epoch 4/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2900 - accuracy: 0.8586
Epoch 5/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2891 - accuracy: 0.8485
Epoch 6/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2881 - accuracy: 0.8586
Epoch 7/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2876 - accuracy: 0.8485
Epoch 8/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2867 - accuracy: 0.8586
Epoch 9/100
4/4 [==============================] - 0s 1ms/step - loss: 0.2856 - accuracy: 0.8485
Epoch 10/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2870 - accuracy: 0.8586
Epoch 11/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2843 - accuracy: 0.8586
Epoch 12/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2860 - accuracy: 0.8586
Epoch 13/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2876 - accuracy: 0.8485
Epoch 14/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2924 - accuracy: 0.8586
Epoch 15/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2934 - accuracy: 0.8586
Epoch 16/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2957 - accuracy: 0.8586
Epoch 17/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2971 - accuracy: 0.8586
Epoch 18/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2993 - accuracy: 0.8586
Epoch 19/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3007 - accuracy: 0.8586
Epoch 20/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2983 - accuracy: 0.8586
Epoch 21/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2936 - accuracy: 0.8586
Epoch 22/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2908 - accuracy: 0.8586
Epoch 23/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2928 - accuracy: 0.8586
Epoch 24/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2933 - accuracy: 0.8485
Epoch 25/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2942 - accuracy: 0.8384
Epoch 26/100
4/4 [==============================] - 0s 1ms/step - loss: 0.2939 - accuracy: 0.8384
Epoch 27/100
4/4 [==============================] - 0s 6ms/step - loss: 0.2908 - accuracy: 0.8586
Epoch 28/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2934 - accuracy: 0.8586
Epoch 29/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2949 - accuracy: 0.8586
Epoch 30/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2965 - accuracy: 0.8586
Epoch 31/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2967 - accuracy: 0.8586
Epoch 32/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2979 - accuracy: 0.8586
Epoch 33/100
4/4 [==============================] - 0s 1ms/step - loss: 0.2936 - accuracy: 0.8586
Epoch 34/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2894 - accuracy: 0.8586
Epoch 35/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2917 - accuracy: 0.8586
Epoch 36/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2909 - accuracy: 0.8586
Epoch 37/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2906 - accuracy: 0.8586
Epoch 38/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2906 - accuracy: 0.8586
Epoch 39/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2901 - accuracy: 0.8485
Epoch 40/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2963 - accuracy: 0.8384
Epoch 41/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3004 - accuracy: 0.8485
Epoch 42/100
4/4 [==============================] - 0s 3ms/step - loss: 0.3004 - accuracy: 0.8283
Epoch 43/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2954 - accuracy: 0.8485
Epoch 44/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2938 - accuracy: 0.8485
Epoch 45/100
4/4 [==============================] - 0s 1ms/step - loss: 0.2925 - accuracy: 0.8485
Epoch 46/100
4/4 [==============================] - 0s 6ms/step - loss: 0.2897 - accuracy: 0.8586
Epoch 47/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2874 - accuracy: 0.8586
Epoch 48/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2847 - accuracy: 0.8586
Epoch 49/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2838 - accuracy: 0.8586
Epoch 50/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2820 - accuracy: 0.8586
Epoch 51/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2826 - accuracy: 0.8586
Epoch 52/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2835 - accuracy: 0.8586
Epoch 53/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2860 - accuracy: 0.8687
Epoch 54/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2856 - accuracy: 0.8586
Epoch 55/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2868 - accuracy: 0.8586
Epoch 56/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2859 - accuracy: 0.8586
Epoch 57/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2855 - accuracy: 0.8586
Epoch 58/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2862 - accuracy: 0.8485
Epoch 59/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2860 - accuracy: 0.8586
Epoch 60/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2858 - accuracy: 0.8586
Epoch 61/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2873 - accuracy: 0.8586
Epoch 62/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2888 - accuracy: 0.8586
Epoch 63/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2898 - accuracy: 0.8586
Epoch 64/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2866 - accuracy: 0.8586
Epoch 65/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2851 - accuracy: 0.8586
Epoch 66/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2842 - accuracy: 0.8586
Epoch 67/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2838 - accuracy: 0.8586
Epoch 68/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2827 - accuracy: 0.8586
Epoch 69/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2840 - accuracy: 0.8586
Epoch 70/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2853 - accuracy: 0.8384
Epoch 71/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2861 - accuracy: 0.8384
Epoch 72/100
4/4 [==============================] - 0s 7ms/step - loss: 0.2870 - accuracy: 0.8384
Epoch 73/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2874 - accuracy: 0.8384
Epoch 74/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2887 - accuracy: 0.8384
Epoch 75/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2881 - accuracy: 0.8384
Epoch 76/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2889 - accuracy: 0.8384
Epoch 77/100
4/4 [==============================] - 0s 5ms/step - loss: 0.2898 - accuracy: 0.8384
Epoch 78/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2904 - accuracy: 0.8384
Epoch 79/100
4/4 [==============================] - 0s 1ms/step - loss: 0.2907 - accuracy: 0.8384
Epoch 80/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2873 - accuracy: 0.8586
Epoch 81/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2887 - accuracy: 0.8586
Epoch 82/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2898 - accuracy: 0.8586
Epoch 83/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2894 - accuracy: 0.8586
Epoch 84/100

4/4 [==============================] - 0s 3ms/step - loss: 0.2893 - accuracy: 0.8384
Epoch 85/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2911 - accuracy: 0.8384
Epoch 86/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2903 - accuracy: 0.8384
Epoch 87/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2872 - accuracy: 0.8384
Epoch 88/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2941 - accuracy: 0.8384
Epoch 89/100
4/4 [==============================] - 0s 4ms/step - loss: 0.2973 - accuracy: 0.8182
Epoch 90/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2994 - accuracy: 0.8283
Epoch 91/100
4/4 [==============================] - 0s 2ms/step - loss: 0.3008 - accuracy: 0.8081
Epoch 92/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2989 - accuracy: 0.8283
Epoch 93/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2945 - accuracy: 0.8283
Epoch 94/100
4/4 [==============================] - 0s 3ms/step - loss: 0.2887 - accuracy: 0.8485
Epoch 95/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2828 - accuracy: 0.8586
Epoch 96/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2805 - accuracy: 0.8586
Epoch 97/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2839 - accuracy: 0.8485
Epoch 98/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2843 - accuracy: 0.8586
Epoch 99/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2851 - accuracy: 0.8586
Epoch 100/100
4/4 [==============================] - 0s 2ms/step - loss: 0.2846 - accuracy: 0.8586
2/2 - 0s - loss: 1.1419 - accuracy: 0.6364
Loss: 1.1419414281845093, Accuracy: 0.6363636255264282